<div class="container">
    <h1 class="text-2xl text-center text-cyan-500">Register now</h1>
    <div class="">
        <!-- <form class="p-5 flex justify-center items-center flex-col">
            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Name</label>
                <input type="text" id="name" [(ngModel)]="name" name="name"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            </div>
            <div class="mb-4">
                <label for="age" class="block text-gray-700 text-sm font-bold mb-2">age</label>
                <input type="number" id="age" [(ngModel)]="age" name="age"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            </div>

            @if (age&& (age< 15 || age> 30 )) {
                <div class="mb-4">
                    <p class="text-red-500 text-xs italic">Age must be between 15 and 30</p>

                </div>
                }

                @if (name && name.length <3) { <div class="mb-4">
                    <p class="text-red-500 text-xs italic">Name must be more than 3 characters</p>
    </div>
    }

    <button type="submit" (click)="register()"
        class=" bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Register</button>
    </form> -->





        <form class="p-5 flex flex-col items-center" [formGroup]="MyForm">
            <div class="mb-4">
                <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Name</label>
                <input type="text"  formControlName="name" name="name"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            </div>
            <div class="mb-4">
                <label for="age" class="block text-gray-700 text-sm font-bold mb-2">age</label>
                <input type="number"   name="age" formControlName="age"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            </div>


            @if (!NameValid) {
                <div class="mb-4">
                    <p class="text-red-500 text-xs italic">Name must be more than 3 characters</p>

                </div>
            }

            @if (!AgeValid) {
                <div class="mb-4">
                    <p class="text-red-500 text-xs italic">Age must be between 15 and 30</p>

                </div>
            }




            <!-- @if (age&& (age< 15 || age> 30 )) {
                <div class="mb-4">
                    <p class="text-red-500 text-xs italic">Age must be between 15 and 30</p>

                </div>
                }

                @if (name && name.length <3) { <div class="mb-4">
                    <p class="text-red-500 text-xs italic">Name must be more than 3 characters</p>
    </div>
    } -->

    <button type="submit" (click)="register()"
        class=" bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Register</button>

    </form>















</div>
</div>