<div class="p-6 max-w-md mx-auto bg-white rounded shadow">
    <h2 class="text-xl mb-4 font-semibold">Edit User</h2>

    <form class="flex flex-col gap-3" (ngSubmit)="updateUser()">
        <label>Name:</label>
        <input class="input" [(ngModel)]="user.firstName" name="name" required />

        <label>Email:</label>
        <input class="input" [(ngModel)]="user.email" name="email" type="email" required />

        <label>Phone:</label>
        <input class="input" [(ngModel)]="user.phone" name="phone" />



        <button class="btn mt-4 bg-blue-500 text-white px-4 py-2 rounded" type="submit">
            Update User
        </button>
    </form>
</div>